body {
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background-image: url("https://img.freepik.com/free-vector/white-gray-geometric-pattern-background-vector_53876-136510.jpg?w=900&t=st=1672246237~exp=1672246837~hmac=926f82311585ac0c0ff3914ac97432376b79b77685cdae7ea87a9589d0d85928");
  padding: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
}

select {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  font-size: 18px;
}

.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}
